.bg-color1
{
	background-color: #f1faff;
}
.bg-color2
{
	background-color: #e0fcff;
}
.bg-blue
{
	background-color: #3598db;
}
.bg-green
{
	background-color: #48cc83
}
.bg-white
{
	background-color: #fff
}
.bg-green a
{
	color: #e6f0e9;
}
.pdt-0
{
	padding-top: 0 !important;
}
.pd-1em
{
	padding: 1em;
}
.pd-2em
{
	padding: 2em;
}
.pd-4em {
    padding: 4em;
}
.pd-0
{
	padding: 0;
}
.dp-inline-block
{
	display: inline-block;
}
.dp-inline
{
	display: inline;
}
.fl-left
{
	float: left;
}
.mgb-2em
{
	margin-bottom: 2em;
}
.mgb-3em
{
	margin-bottom: 3em;
}
.mgb-4em
{
	margin-bottom: 4em;
}
.mgb-15em
{
	margin-bottom: 1.5em;
}
.mgb-1em
{
	margin-bottom: 1em;
}
.mgt-4em
{
	margin-top: 4em;
}
.mgt-3em
{
	margin-top: 3em;
}
.mgt-2em
{
	margin-top: 2em;
}

.mgt-12x
{
	margin-top: 85px;
}

.mgt-6x
{
    margin-top: 45px;
}

.navbar-brand
{
    font-size: 25px;
}
.navbar-inverse .navbar-brand
{
    color: #3598db;
    font-weight: 700;
    padding: 0;
}
.navbar-inverse .navbar-brand img
{
	display: inline-block;
	width: 43px;
	top: 4px;
	margin-left: 15px;
	position: relative;
	margin-right: 5px;
}
.navbar-inverse .navbar-brand span
{
	position: relative;
	top: 6px;
}
.navbar-inverse .navbar-nav>li>a.login-button
{
	margin-top: 8px;
	color: white !important;
	padding: 7px !important;
}
.navbar-inverse .navbar-nav>li>a.login-button:hover
{
	background-color: #48cc83;
}
.ft-13px
{
	font-size: 13px;
}
h2.title-v5
{
	position: relative;
	margin-bottom: 30px;
	font-size: 22px;
	display: block;
}
h2.title-v2,
h2.title-v3,
h2.title-v4
{
	position: relative;
	margin-bottom: 30px;
	font-size: 22px;
	display: inline-block;
}
h2.title-v2:after
{
	left: 0;
	width: 50%;
	height: 1px;
	content: " ";
	bottom: -5px;
	background: #fff;
	position: absolute;
}
h2.title-v3:after
{
	width: 50%;
	margin: auto;
	height: 1px;
	content: " ";
	bottom: -5px;
	background: #3598db;
	position: relative;
	display: block;
}
h2.title-v4:after
{
	width: 50%;
	margin: auto;
	height: 1px;
	content: " ";
	bottom: -5px;
	background: #fff;
	position: relative;
	display: block;
}
h2.title-v5:after
{
	width: 100%;
	margin: auto;
	height: 1px;
	content: " ";
	bottom: -5px;
	background: #3598db;
	position: relative;
	display: block;
}
.color-white
{
	color: #fff;
}
@media (min-width: 767px) {
	.nav.navbar-nav
	{
		float:right;
	}
}
@media (max-width: 767px) {
	.login-button
	{
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.center{
    text-align: center;
}

.bg1
{
	background: red;
}
.bg2
{
	background: yellow;
}
.bg3
{
	background: gray;
}
.bg-black
{
	background-color: #333
}
.color-gray
{
	color: #999;
}
/* footer */

footer
{
    margin-top: 50px;
}
footer .media img
{
	display: inline-block;
	margin: 0 5px;
	width: 30px;
}
footer h2.title
{
	position: relative;
	color: #48cc83;
}
footer h2.title:after
{
    width: 100%;
    height: 1px;
    background: #525252;
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
}

.footer-v6 .footer {
	/*padding: 70px 0;*/
	background: #161616;
	/*border-top: 4px solid #0e75ba;*/
}

.footer-v6 .footer p {
	color: #777;
}

/*Heading Fotoer*/
.footer-v6 .heading-footer {
	text-align: left;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 2px;
}

.footer-v6 .heading-footer:after {
	left: 0;
	bottom: 0;
	height: 1px;
	width: 50px;
	content: " ";
	background: #fff;
	position: absolute;
}

.footer-v6 .heading-footer h2 {
	color: #eee;
	font-size: 18px;
	text-transform: uppercase;
}

/*Link News*/
.footer-v6 .footer .link-news {
	margin-bottom: 0;
}

.footer-v6 .footer .link-news li {
	padding: 12px 0px;
	border-top: solid 1px #353535;
}

.footer-v6 .footer .link-news li:first-child {
	padding-top: 0;
	border-top: none;
}

.footer-v6 .footer .link-news li a {
	color: #777;
	font-size: 14px;
	margin-bottom: 3px;
	display: inline-block;
}

.footer-v6 .footer .link-news a:hover {
	color: #bbb;
}

.footer-v6 .footer .link-news li small {
	color: #555;
	display: block;
}

/*Link List*/
.footer-v6 .footer-link-list li {
	padding: 9px 0px;
	border-top: solid 1px #333;
}

.footer-v6 .footer-link-list li:first-child {
	padding-top: 0;
	border-top: none;
}

.footer-v6 .footer-link-list li a {
	color: #777;
	font-size: 14px;
	display: inline-block;
}

.footer-v6 .footer-link-list a:hover {
	color: #bbb;
}

/*Contacts*/
.footer-v6 .footer .contacts {
	margin-bottom: 0;
}

.footer-v6 .footer .contacts li {
	margin-bottom: 20px;
	color: #555;
}

.footer-v6 .footer .contacts li:before,
.footer-v6 .footer .contacts li:after {
	content: " ";
	display: table;
}

.footer-v6 .footer .contacts li:after {
	clear: both;
}

.footer-v6 .footer .contacts li i {
	float: left;
	width: 30px;
	height: 30px;
	color: #777;
	padding: 8px 5px;
	background: #333;
	text-align: center;
	margin: 4px 10px 0 0;
	display: inline-block;
}

.footer-v6 .footer .contacts li p {
	margin-bottom: 0;
}

.footer-v6 .footer .contacts li a {
	color: #777;
}

.footer-v6 .footer .contacts li a:hover {
	color: #bbb;
}

/*Footer Copyright*/
.footer-v6 .copyright {
	padding: 15px 0;
	background: #222;
}

/*Social Icons*/
.footer-v6 .dark-social {
	margin: 5px 0 0;
}

.footer-v6 .dark-social li {
	margin: 0 6px;
	display: inline-block;
}

.footer-v6 .dark-social li i {
	color: #777;
}

/*Terms Menu*/
.footer-v6 .copyright .terms-menu {
	margin: 7px 0 0;
}

.footer-v6 .copyright .terms-menu li {
	color: #777;
	font-size: 13px;
	line-height: 10px;
	margin-right: 2px;
	border-color: #777;
	padding-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #bbb;
	display: inline-block;
}

.footer-v6 .copyright .terms-menu li:first-child {
	border-left: none;
	padding: 0 7px 0 0;
	line-height: 15px;
}

.footer-v6 .copyright .terms-menu li a {
	color: #777;
}

.footer-v6 .copyright .terms-menu li a:hover {
	color: #bbb;
}

@media (max-width: 992px) {
	.footer-v6 .copyright .terms-menu,
	.footer-v6 .copyright .dark-social.pull-right {
		text-align: center;
		float: none !important;
	}
}